{% assign btn-text = '자세히 보기' %}
{% if include.btn-text %}{% assign btn-text = include.btn-text %}{% endif %}

{% assign class = 'basic' %}
{% if include.type == 'right' %}{% assign class = 'text-right' %}{% endif %}

<div class="jumbotron {{ class }}" style="margin-bottom: 0; border-bottom: 1px solid #fff;">
  <div class="container">
    {% if include.title %}<h1>{{ include.title }}{% if include.icon %}&nbsp; <i class="fa fa-{{ include.icon }}"></i>{% endif %}</h1>{% endif %}
    {% if include.desc %}<p>{{ include.desc | newline_to_br }}</p>{% endif %}
    {% if include.btn-url %}
    <a href="{{ include.btn-url }}" class="btn btn-primary">{{ btn-text }}</a>
    {% endif %}
  </div>
</div>
