<!doctype html>
<html class="no-js" lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title | append: ' | ' }}{% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  {{ content }}

  {% if site.data.webfonts %}{% include webfonts.html %}{% endif %}
  <script src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.2/umd/popper.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>
